@import '../../libs/reset.styl'
global-reset()

gray = #98A5B5

ul ul
  display none

ul li:hover ul
  margin-left 10px
  display: block

ul li a:hover
  text-decoration underline

a
  text-decoration none
  color black

ul ul li a
  color: gray

