 {
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
}
body,
button,
input {
  color: #333;
  font: 12px Segoe UI, sans-serif;
}
label,
button:not(:disabled) {
  cursor: pointer;
}
input[type="radio"] {
  vertical-align: top;
}
.inline {
  overflow: hidden;
}
.inline li {
  float: left;
  list-style: none;
}
.keyboard-shortcut {
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
}
.code {
  font-family: Consolas, monospace;
}
.muted {
  color: #666;
}
.input-block {
  width: 100%;
}
.input-big {
  font-size: 24px;
}
.input-transparent {
  outline: 0;
  border: none;
  background: none;
}
.row {
  margin-left: -5px;
}
.row::after {
  display: table;
  clear: both;
  content: " ";
}
[class ^= "span"],
[class *= " span"] {
  float: left;
  margin-left: 5px;
}
/* Not used:
span3: 115px,
span4: 155px,
span5: 195px,
span6: 235px */
.span1 {
  width: 35px;
}
.span2 {
  width: 75px;
}
.span7 {
  width: 275px;
}
.span8 {
  width: 315px;
}
/* span9: 345px */
.calculator {
  width: 395px;
/* span10 */
}
.calculator {
  margin: 0 auto;
  padding: 0 10px 5px;
  border: 1px solid #999;
  background: -webkit-linear-gradient(#f0f0f0 0px, #d9e4f1 100px, #d9e4f1 100px, #d9e4f1 100px);
  background: -moz-linear-gradient(#f0f0f0 0px, #d9e4f1 100px, #d9e4f1 100px, #d9e4f1 100px);
  background: -o-linear-gradient(#f0f0f0 0px, #d9e4f1 100px, #d9e4f1 100px, #d9e4f1 100px);
  background: linear-gradient(#f0f0f0 0px, #d9e4f1 100px, #d9e4f1 100px, #d9e4f1 100px);
}
.calculator .unstyled {
  padding: 3px 0 0;
}
.calculator .unstyled li + li {
  margin-top: 6px;
}
.calculator .row3 {
  height: 79px;
}
.calculator .box,
.calculator .btn {
  margin-bottom: 5px;
  border: 1px solid #727f8d;
  border-radius: 3px;
  color: #1c3759;
}
.calculator .box {
  padding: 5px;
}
.calculator .box-inset,
.calculator .btn:not(:hover):not(:disabled):not(.btn-muted) {
  box-shadow: inset 0 0 0 1px #fff;
}
.calculator .main-menu {
  margin: 0 -10px 10px;
  padding: 1px 5px 2px;
  border-bottom: 1px solid #999;
  background: -webkit-linear-gradient(#f0f0f0 0%, #e5eaf5 34%, #d4dbed 35%, #f0f0f0 100%);
  background: -moz-linear-gradient(#f0f0f0 0%, #e5eaf5 34%, #d4dbed 35%, #f0f0f0 100%);
  background: -o-linear-gradient(#f0f0f0 0%, #e5eaf5 34%, #d4dbed 35%, #f0f0f0 100%);
  background: linear-gradient(#f0f0f0 0%, #e5eaf5 34%, #d4dbed 35%, #f0f0f0 100%);
}
.calculator .main-menu li + li {
  margin-left: 10px;
}
.calculator .display {
  padding: 15px 5px 5px;
  background: -webkit-linear-gradient(#e6effb, #fff, #fff, #fff);
  background: -moz-linear-gradient(#e6effb, #fff, #fff, #fff);
  background: -o-linear-gradient(#e6effb, #fff, #fff, #fff);
  background: linear-gradient(#e6effb, #fff, #fff, #fff);
}
.calculator .display input {
  text-align: right;
}
.calculator .binary-representation {
  font-size: 14px;
}
.calculator .binary-representation li {
  width: 33px;
}
.calculator .binary-representation li + li {
  margin-left: 17px;
}
.calculator .binary-index li:first-child {
  width: 183px;
}
.calculator .binary-index li:last-child {
  width: 131px;
  text-align: right;
}
.calculator .btn {
  position: relative;
  height: 27px;
  border: 1px solid #8797aa;
  background: -webkit-linear-gradient(#f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d7e2ef 100%);
  background: -moz-linear-gradient(#f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d7e2ef 100%);
  background: -o-linear-gradient(#f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d7e2ef 100%);
  background: linear-gradient(#f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d7e2ef 100%);
  line-height: 25px;
}
.calculator .btn-loud {
  background: -webkit-linear-gradient(#f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #f3fbff 100%);
  background: -moz-linear-gradient(#f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #f3fbff 100%);
  background: -o-linear-gradient(#f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #f3fbff 100%);
  background: linear-gradient(#f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #f3fbff 100%);
  font-size: 15px;
}
.calculator .btn-muted {
  background: #d9e4f1;
}
.calculator .btn:hover,
.calculator .btn:focus {
  border-color: #f5d50f;
  background: -webkit-linear-gradient(#fef5eb 0%, #fce3c6 49%, #fbd075 50%, #fcf8ca 100%);
  background: -moz-linear-gradient(#fef5eb 0%, #fce3c6 49%, #fbd075 50%, #fcf8ca 100%);
  background: -o-linear-gradient(#fef5eb 0%, #fce3c6 49%, #fbd075 50%, #fcf8ca 100%);
  background: linear-gradient(#fef5eb 0%, #fce3c6 49%, #fbd075 50%, #fcf8ca 100%);
}
.calculator .btn:not(:disabled):active {
  top: 1px;
}
.calculator .btn:disabled {
  border-color: #b4c2d1;
  background: #d9e4f1;
}
.calculator .btn.row2 {
  height: 59px;
}
.calculator .btn strong {
  font-size: 22px;
}
