doctype html
html
    head
        title Problem 3 - Nested Divs
        link(href='nested-divs.css', rel='stylesheet', type='text/css')
    body
        .container
            .n.first
                .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n: .n
