@import '../../libs/reset.styl'
global-reset()

.container
  width 100%
  position absolute
  background-color #996699
  border-radius 5rem

.n
  width 93%
  background-color: black
  border-radius: 5rem
  border 1px solid #996699

.first
  width 100%