doctype html
html
    head
        title Problem 1 - Tree View
        link(href='tree-styles.css', rel='stylesheet', type='text/css')
    body
        ul
        -var n = 0
        while n < 5
            n++

            li: a(href='#') List item

                ul
            -var m = 0
            while m < 5
                m++

                li: a(href='#') Sublist Item