* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clear {
  clear: both;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  padding-left: 4px;
}
#wrapper header {
  padding: 16px;
  background-image: url("images/header-bg.png");
  background-repeat: repeat;
  color: #575e5b;
}
#wrapper header h1 {
  font-size: 16px;
  text-transform: uppercase;
  float: left;
}
#wrapper header nav#nav {
  float: right;
}
#wrapper header nav#nav ul li {
  list-style: none;
  display: inline;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 14px;
}
#searchBar {
  background-color: #000;
  padding: 8px;
  color: #c6c6c6;
}
#searchBar a {
  text-decoration: none;
  color: #c6c6c6;
  font-size: 14px;
}
#archives {
  color: #c6c6c6;
  font-size: 16px;
  font-family: "Helvetica Neue";
  float: left;
}
#search {
  float: right;
}
#content {
  margin-top: 20px;
  color: #575e5b;
}
#content h1 {
  font-size: 24px;
}
#content article p {
  margin-top: 15px;
  font-size: 14px;
}
