 {
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
section {
  width: 435px;
  background-color: #eee;
  padding: 15px;
  border-radius: 10px;
  font-family: Sans-serif;
}
section header {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
section article.box {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border: 1px solid #000;
  display: block;
  margin-top: 45px;
  margin-bottom: 25px;
  padding: 15px;
  padding-right: 20px;
  text-wrap: word-wrap avoid;
}
section article.box img {
  float: left;
  margin-right: 15px;
  display: block;
  border: 1px solid #000;
}
section article.box p {
  width: 96%;
  font-size: 14px;
  line-height: 16px;
}
section article.box p a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
section article.box .buttons {
  float: right;
  position: relative;
  display: block;
  margin-top: 15px;
}
section article.box .buttons .add,
section article.box .buttons .listen {
  background: -webkit-linear-gradient(left, #8a0000 0%, #8a0000 22%, #d10000 0%, #d10000 100%);
  background: -moz-linear-gradient(right, #8a0000 0%, #8a0000 22%, #d10000 0%, #d10000 100%);
  background: -o-linear-gradient(right, #8a0000 0%, #8a0000 22%, #d10000 0%, #d10000 100%);
  background: linear-gradient(right, #8a0000 0%, #8a0000 22%, #d10000 0%, #d10000 100%);
  border-top: 3px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  border-bottom: 3px solid rgba(0,0,0,0.5);
  border-right: 3px solid rgba(0,0,0,0.5);
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  min-width: 80px;
}
