@import '../../libs/reset.styl'
global-reset()

body
  padding 10px
  width 720px

p
  font-family Consolas, Edwardian Script ITC
  color #0094ff

// It's not exactly by design, because the design is very ugly and boring
p:first-of-type
  padding-left 50px
  padding-top 35px
  margin-bottom 15px
  font-weight bold
  color black
  background-image url('c-letter.png')
  background-repeat no-repeat
  background-size 50px auto

