doctype html
html
    head
        title Problem 1 - Ticket CSS
        link(href='ticket.css', rel='stylesheet', type='text/css')
    body
        main
            h1 Ticket ID: 409788

            dl
                dt Name
                dd.main-info.available Parker Seidel
                dd.support No Active Support

                dt Email
                dd.main-info seidel@aptmail.com

                dt Response time
                dd.statistics 72hours, 60hours left

                dt Last Action
                dd.statistics Never been locked.
                dd.main-info.link-post Link to public post

                dt Status
                dd.status-info Not answered
