*
  margin 0
  padding 0

html, body
  font-family "Times New Roman"
  font-size 16px
  color #000000

li.avenger
  list-style none
  text-decoration none
  display inline-block
  //float left
  padding 10px 15px
  border-top 3px solid black
  border-left 3px solid black
  border-radius 15px 0 0 0
  margin 0

  .name
    font-weight bold

  .name ~.preview
    display none

  .name:hover ~.avenger
    background-color #cccccc !important

  .name:hover
    background-color #CCCCCC
    text-decoration underline
    cursor pointer

  .name:hover ~ ul
    border-bottom 3px solid white

  .name:hover ~.preview
    display block
    position absolute
    top 42px
    left 2px
    background-color #CCCCCC

.avengers
  width 635px
  border-bottom 3px solid black

.preview
  width 628px
  height 270px
  border 3px solid black

.preview img
  width 400px
  border 5px solid white
  margin 15px
  float left

ul.skills
  list-style none
  font-size 24px
  margin 20px
  vertical-align middle
  text-transform capitalize

li.skill
  border none
  display block
  position relative
  align-content center

li.skills:first-child>li:first-of-type
  text-decoration underline

li.avenger:hover
  background-color #CCCCCC

li.avenger:hover ~ .avengers
  border-bottom 3px solid white