 {
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
main {
  width: 660px;
  line-height: normal;
}
.container {
  background-color: #3b3b3b;
  border: 1px solid #806850;
  border-radius: 10px;
}
.container form {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(#3b3b3b 70%, #2f2f2f 95%, #232323 100%);
  border-radius: 10px;
}
.container fieldset {
  padding: 10px 0 10px 10px;
}
img {
  float: left;
  position: relative;
  top: -5px;
  margin-right: 20px;
}
label {
  color: #fff;
  vertical-align: 15px;
  font-size: 1.5em;
  font-weight: bold;
}
label input {
  max-width: 120px;
  margin: 10px;
  padding: 3px 10px;
}
input[type='button'] {
  background: url("images/button.gif") no-repeat;
  vertical-align: 13px;
  position: relative;
  left: 10px;
  width: 58px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 0;
}
h1 {
  margin: 15px 10px 10px 10px;
  font-size: 2em;
  color: #fdd416;
}
.content {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #a5a5a5;
  padding: 10px;
  max-width: 610px;
}
.content a {
  text-decoration: none;
  color: #fff;
}
