doctype html
html
    head
        title Index
        link(href='store.css', rel='stylesheet', type='text/css')
    body
        -var brands = ['Apple', 'Toshiba', 'Lenovo', 'Dell', 'Asus', 'Acer', 'HP']

        .store
            header
                nav
                    each brand in brands
                        a(href='#') #{brand}

                hr

            section
                // well, while loop is not working in jade now for some reason
                each laptop in [1, 2, 3, 4, 5, 6]
                    article
                        fieldset
                            legend Apple MacBook Air
                            img(src='images/macbook.png', width='150px', alt='macBook')
                            .info 64 GB SSD
                            .info 2 GB DDR
                            .info Intel Core i5
                            .price 1300 USD
            aside
                ul
                    li Min price: 500 USD
                        input(type='range')
                    li Max price: 1500 USD
                        input(type='range')
                    li Min RAM: 4 GB
                        input(type='range')
                    li Min RAM: 16 GB
                        input(type='range')
