 {
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.container {
  background-color: #1e3741;
  border-radius: 5px;
  border: 1px solid #99bec7;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 610px;
}
nav {
  margin-top: 8px;
}
nav ul li {
  float: left;
  margin-right: 1px;
  background-color: #4b5f67;
  padding: 7px 12px 7px 12px;
}
nav ul li:first-child {
  background-color: #1e3741;
}
nav ul li:first-child a {
  color: #fff;
}
nav ul li a {
  font-size: 11px;
  font-weight: bold;
  color: #93adb7;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
section {
  display: block;
  margin-top: 10px;
}
section ul {
  float: left;
  width: 235px;
}
section ul li:first-child {
  background-color: #00968c;
  color: #fff;
  border: none;
}
section ul li {
  display: block;
  font-size: 12px;
  color: #9da7a7;
  font-weight: bold;
  border-bottom: 1px solid #697980;
  padding: 10px;
  line-height: normal;
  padding-right: 15px;
}
section ul li:last-child {
  border-bottom: none;
}
img {
  margin-bottom: 15px;
}
